<div class="chat">
  <div class="messages" #scrollContainer>
    <div
      class="line"
      [ngClass]="message.source"
      *ngFor="let message of messages"
    >
      <div class="message">
        <strong>{{ message.source === "to" ? "Moi" : "Albatar" }}</strong>
        <markdown [data]="message.message"></markdown>
      </div>
      <!-- <div class="buttons">
        <button *ngFor="let button of message.buttons">
          {{ button }}
        </button>
      </div> -->
    </div>
    <div class="line from" *ngIf="isBotTyping">
      <div class="message answering">
        <strong>Albatar</strong>
        <span></span>
      </div>
    </div>
  </div>
  <div class="textarea">
    <input
      [(ngModel)]="message"
      (keydown.enter)="sendMessage()"
      placeholder="Tape ton message"
    />
    <button (click)="sendMessage()">Envoyer</button>
  </div>
</div>
