@use "reset" as *;

markdown {
  display: block;
  margin-bottom: 1rem;
}

markdown {
  p + p {
    margin-top: 10px;
  }
  h1,
  h2 {
    font-weight: bold;
  }
  ul {
    padding-left: 1.5rem;
    list-style: disc;
    padding: 10px 0 10px 15px;
  }
  strong {
    font-weight: bold;
  }
}
